# ---------------------------------------------------------------
# Custom Aliases and Functions
# ---------------------------------------------------------------
# Purpose:
# This `.aliases` file provides a range of command aliases and functions
# to streamline frequently used commands. It covers general shortcuts,
# `kubectl` commands for Kubernetes, `git` commands for version control,
# `npm` for Node.js package management, and Windows terminal shortcuts.
# Alias names use snake_case.

# Usage:
# Place this file as `.aliases` in the home directory and source it in `.bashrc` or `.zshrc`.
# For additional custom local common configurations, use `~/.aliases_local` if desired,
# to avoid modifying this core file.
# ---------------------------------------------------------------

# General Aliases
alias clear_screen='clear'
alias ls='ls --color -alh'
alias stow_all="cd $HOME/dotfiles && stow *"
alias stow_remove="stow -D"
alias stow_list="stow --no -v"
alias editor_open_here="$EDITOR ."
alias reset_ssh_agent="rm -rf ~/.ssh/known_hosts ~/.gnupg/sshcontrol && find ~/.ssh/sockets/ -mindepth 1 ! -name '.gitkeep' -delete"

# Enhanced directory navigation
alias cd_up='cd ..'
alias cd_up_2='cd ../..'
alias cd_up_3='cd ../../..'
alias cd_up_4='cd ../../../..'
alias cd_home='cd $HOME'

# Process management
alias ps_aux='ps aux'
alias ps_aux_grep='ps aux | grep'
alias ps_mem_top='ps aux | sort -nr -k 4 | head -10'
alias ps_cpu_top='ps aux | sort -nr -k 3 | head -10'
alias lazy_docker="lazydocker"

# ------------------------------------------------------------------------------
# Aliases for Convenient Usage (Optional)
# ------------------------------------------------------------------------------
# If you want to replace or augment existing commands with the new tools:
if command -v bat &>/dev/null; then
  export BAT_CONFIG_PATH="$HOME/.config/bat/config"
  alias cat="bat"
fi

# Check if 'eza' exists before aliasing 'ls'
if command -v eza &>/dev/null; then
  export EZA_CONFIG_DIR="$HOME/.config/eza"
  alias ls="eza -lhagH --group-directories-first --icons --sort=filename"
fi

# Check if 'fd' exists before aliasing 'find'
if command -v fd &>/dev/null; then
  export FD_IGNORE_FILE="$HOME/.config/fd/ignore"
fi

# Check if 'logdy' exists before aliasing
if command -v logdy &>/dev/null; then
  alias logdy_quiet="logdy --no-updates --no-analytics"
fi

# ---------------------------------------------------------------
# Kubectl Aliases
# ---------------------------------------------------------------
alias kubectl_short=kubectl
alias kubectl_all_namespaces='kubectl --all-namespaces'
alias kubectl_apply_file='kubectl apply -f'
alias kubectl_exec_ti='kubectl exec -t -i'
alias kubectl_config_use_context='kubectl config use-context'
alias kubectl_get_svc='kubectl get svc'
alias kubectl_get_pods='kubectl get pods'
alias kubectl_logs='kubectl logs'
alias kubectl_port_forward="kubectl port-forward"
alias kubectl_get_ingress='kubectl get ingress'
alias kubectl_get_configmaps='kubectl get configmaps'
alias kubectl_get_secret='kubectl get secret'
alias kubectl_get_deployment='kubectl get deployment'
alias kubectl_get_statefulset='kubectl get statefulset'
alias kubectl_get_nodes='kubectl get nodes'
alias kubectl_get_pvc='kubectl get pvc'
alias kubectl_get_daemonset='kubectl get daemonset'
alias kubectl_get_cronjob='kubectl get cronjob'
alias kubectl_get_job='kubectl get job'
alias kubectl_get_namespaces='kubectl get namespaces'

# Specialized Kubectl commands with options
alias kubectl_get_pods_all_namespaces='kubectl get pods --all-namespaces'
alias kubectl_get_pods_wide='kubectl get pods -o wide'
alias kubectl_get_svc_wide='kubectl get svc -o wide'
alias kubectl_get_all='kubectl get all'
alias kubectl_get_all_all_namespaces='kubectl get all --all-namespaces'
alias kubectl_logs_follow='kubectl logs -f'
alias kubectl_logs_since_1h='kubectl logs --since 1h'
alias kubectl_logs_since_1m='kubectl logs --since 1m'
alias kubectl_logs_since_1h_follow='kubectl logs --since 1h -f'

# ---------------------------------------------------------------
# Git Aliases
# ---------------------------------------------------------------
alias git_short='git'
alias git_add='git add'
alias git_add_all='git add --all'
alias git_checkout='git checkout'
alias git_commit_verbose='git commit -v'
alias git_commit_all='git commit -v --all'
alias git_commit_message='git commit -m'
alias git_push='git push'
alias git_pull='git pull'
alias git_status='git status'
alias git_clone_submodules='git clone --recurse-submodules'
alias git_config_list='git config --list'
alias git_rebase='git rebase'
alias git_pull_rebase='git pull --rebase'
alias git_push_upstream='git push --set-upstream origin $(git symbolic-ref --short HEAD)'

# Git Log
alias git_log_graph='git log --graph'
alias git_log_graph_all_pretty='git log --graph --pretty="%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset" --all'
alias git_log_oneline='git log --oneline --decorate'
alias git_log_graph_detail='git log --graph --pretty="%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset"'

# Git Worktree Management
alias git_worktree_short='git worktree'
alias git_worktree_add_short='git worktree add'
alias git_worktree_list_short='git worktree list'

# ---------------------------------------------------------------
# npm Aliases
# ---------------------------------------------------------------
alias npm_install_global='npm install -g'
alias npm_install_save='npm install -S'
alias npm_install_dev='npm install -D'
alias npm_install_force='npm install -f'
alias npm_list='npm list'
alias npm_list_depth_zero='npm ls --depth=0'
alias npm_run_dev='npm run dev'
alias npm_test='npm test'
alias npm_run='npm run'
alias npm_start='npm start'
alias npm_update='npm update'
alias npm_publish='npm publish'

# ---------------------------------------------------------------
# Windows Terminal Aliases (for Windows)
# ---------------------------------------------------------------
# Check if running in Git Bash or WSL
case "$(uname -s)" in
MINGW* | CYGWIN* | MSYS*)
  alias wt_new_window='wt.exe -w 0 -d "$(pwd)"'
  alias wt_split_vertical='wt.exe sp -d "$(pwd)" -V'
  alias wt_split_horizontal='wt.exe sp -d "$(pwd)" -H'
  alias win_cmd='start "" "C:\\Windows\\system32\\cmd.exe"'
  alias win_git_bash='start "" "C:\\Program Files\\Git\\git-bash.exe"'
  alias open_explorer='explorer .'
  ;;
Linux)
  if grep -qi "WSL" /proc/version 2>/dev/null; then
    alias wt_new_window='wt.exe -w 0 -d "$(wslpath -w "$(pwd)")"'
    alias wt_split_vertical='wt.exe sp -d "$(wslpath -w "$(pwd)")" -V'
    alias wt_split_horizontal='wt.exe sp -d "$(wslpath -w "$(pwd)")" -H'
    alias open_explorer='explorer .'
  fi
  ;;
esac

# Load custom local common configurations, if available
[ -f $HOME/.aliases_local ] && source $HOME/.aliases_local
