# -----------------------
# Miscellaneous
# -----------------------
not a tty
**/.lsp
**/.clj-kondo
.opencode
.cursor
.gemini
AGENTS.yaml
/AGENTS.md
/GEMINI.md
!ai/**/*
scripts/forge/node_modules
scripts/forge/dist
