# Language or Runtimes to be installed
nodejs    latest
python    latest
java      latest
rust      latest

# Tools to be installed
terraform latest
awscli    latest
gcloud    latest
kubectl   latest
helm      latest
azure-cli latest
starship  latest
neovim    latest
