*
!.config/fontconfig/fonts.conf
!.local/
!.local/share/
!.local/share/fonts/
!.local/share/fonts/CaskaydiaCoveNerdFontMono-Bold.ttf
!.local/share/fonts/CaskaydiaCoveNerdFontMono-Italic.ttf
!.local/share/fonts/CaskaydiaCoveNerdFontMono-Regular.ttf
!.local/share/fonts/CaskaydiaMonoNerdFont-Bold.ttf
!.local/share/fonts/CaskaydiaMonoNerdFont-Italic.ttf
!.local/share/fonts/CaskaydiaMonoNerdFont-Regular.ttf
!.local/share/fonts/CaskaydiaMonoNerdFontMono-Bold.ttf
!.local/share/fonts/CaskaydiaMonoNerdFontMono-Italic.ttf
!.local/share/fonts/CaskaydiaMonoNerdFontMono-Regular.ttf
