{:max-blank-lines 1,
 :rules
 {:blank-lines {:padding-lines 2,
                :max-consecutive 2,
                :insert-padding? true},
  :functions {:enabled? false},
  :types {:enabled? false},
  :namespaces {:break-libs? false,
               :import-break-width 3},
  :indentation
  {:indents
   {reduce [[:inner 0]]}}}}
